:root {
	--box-shadow-variable : 0;
	--current-color : #000;
}

*{
	margin:0;
	padding:0;
}

body{
	background:#999;
	display:flex;
	align-items:center;
	justify-content:center;
	height:100vh;
}

.board{
	width:500px;
	height:500px;
	background:white;
overflow:hidden;
	border:5px solid black;
}

.the-shadow {
	width:0px;
	aspect-ratio:1;
	box-shadow:var(--box-shadow-variable);
}

.settings {
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding:1rem;
	background:white;
	border:2px solid black;
}

.current-color{
	border:10px solid white;
	width:100px;
	margin:1rem;
	height:25px;
	background:var(--current-color);
}

.hidden {
	visibility:hidden;
}

.preview {
	width:100px;
	height:100px;
	background:white;
	border:1px solid black;
overflow:hidden;
}

.preview .the-shadow {
	transform:scale(0.2);
	}

#animation-preview {
	animation-duration:1000ms;
	animation-iteration-count:infinite;
	animation-timing-function: step-start;

}

